<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../partials/head') %>
  </head>
  <body>
    <header>
      <h1 class="header__title">
        Oke, Marijn!
      </h1>
      <span class="header__subtitle">
        Deze treinen rijden ongeveer over een uur:
      </span>
    </header>
    <main class="container container__work">
      <a class="section__link" href="/rit">
        <section class="section__ride">
          <h1 class="train-station train-station-departure">Amsterdam</h1>
          <span class="time departure-time">18:00</span>
          <span class="time-arrow">-></span>
          <span class="time arrival-time">19:18</span>
          <h1 class="train-station train-station-arrival">Eindhoven</h1>
        </section>
      </a>
      <a class="section__link" href="/rit">
        <section class="section__ride">
          <h1 class="train-station train-station-departure">Amsterdam</h1>
          <span class="time departure-time">18:10</span>
          <span class="time-arrow">-></span>
          <span class="time arrival-time">19:28</span>
          <h1 class="train-station train-station-arrival">Eindhoven</h1>
        </section>
      </a>
      <a class="section__link" href="/rit">
        <section class="section__ride">
          <h1 class="train-station train-station-departure">Amsterdam</h1>
          <span class="time departure-time">18:20</span>
          <span class="time-arrow">-></span>
          <span class="time arrival-time">19:38</span>
          <h1 class="train-station train-station-arrival">Eindhoven</h1>
        </section>
      </a>
    </main>
    <footer></footer>
    <script src="./js/index.js"></script>
  </body>
</html>
