<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../partials/head') %>
  </head>
  <body>
    <header>
      <h1 class="header__title">
        Hi, Marijn!
      </h1>
      <span class="header__subtitle">
        Waar wil je heen?
      </span>
    </header>
    <main class="container container__index">
      <section class="section__home">
        <h1 class="section__title">Naar huis!</h1>
        <a href="/naar-huis">
          <button class="section__button">
            <p class="section__emoji">🤘</p>
            <img class="section__gif" src="./assets/fire.gif" alt="">
          </button>
        </a>
      </section>
      <section class="section__work">
        <h1 class="section__title">Naar werk!</h1>
        <a href="/naar-werk">
          <button class="section__button">
            <p class="section__emoji">🤓</p>
            <img class="section__gif" src="./assets/fire.gif" alt="">
          </button>
        </a>
      </section>
    </main>
    <footer></footer>
    <script src="./js/index.js"></script>
  </body>
</html>
