<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../partials/head') %>
  </head>
  <body>
    <header>
      <h1 class="header__title">
        Nice, Marijn!
      </h1>
      <span class="header__subtitle">
        Je rit is opgeslagen!
      </span>
    </header>
    <main class="container container__ride">
      <img class="section__gif-ride" src="./assets/metalhead.gif" alt="" />
    </main>
    <footer>
      <a class="back__link" href="/">
        <button class="back__button">
          <h3 class="back__text">Terug naar het begin</h3>
        </button>
      </a>
    </footer>
    <script src="./js/index.js"></script>
  </body>
</html>
