<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../partials/head') %>
  </head>
  <body>
    <header>
      <h1 class="header__title">
        Oke, Marijn!
      </h1>
      <span class="header__subtitle">
        Selecteer de rit voor maandagochtend:
      </span>
    </header>
    <main class="container container__work">
      <a class="section__link" href="/rit">
        <section class="section__ride">
          <h1 class="train-station train-station-departure">Eindhoven</h1>
          <span class="time departure-time">10:20</span>
          <span class="time-arrow">-></span>
          <span class="time arrival-time">11:38</span>
          <h1 class="train-station train-station-arrival">Amsterdam</h1>
        </section>
      </a>
      <a class="section__link" href="/rit">
        <section class="section__ride">
          <h1 class="train-station train-station-departure">Eindhoven</h1>
          <span class="time departure-time">10:30</span>
          <span class="time-arrow">-></span>
          <span class="time arrival-time">11:48</span>
          <h1 class="train-station train-station-arrival">Amsterdam</h1>
        </section>
      </a>
      <a class="section__link" href="/rit">
        <section class="section__ride">
          <h1 class="train-station train-station-departure">Eindhoven</h1>
          <span class="time departure-time">10:40</span>
          <span class="time-arrow">-></span>
          <span class="time arrival-time">11:58</span>
          <h1 class="train-station train-station-arrival">Amsterdam</h1>
        </section>
      </a>
    </main>
    <footer></footer>
    <script src="./js/index.js"></script>
  </body>
</html>
