@import url('https://fonts.googleapis.com/css?family=Metal+Mania|New+Rocker&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #310413;
  background-image: url('https://www.transparenttextures.com/patterns/wall-4-light.png');
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
  width: 100%;
}

p {
  margin: 0;
}

button:focus {
  outline: none;
}

header {
  color: #c2281d;
  font-family: 'Metal Mania', cursive;
  margin: 0 auto;
  max-width: 900px;
  padding: 4rem 0;
  text-align: center;
  width: 100%;
}

.header__title {
  font-size: 5rem;
}

.header__subtitle {
  font-family: 'New Rocker', cursive;
  font-size: 3rem;
  text-shadow: -1px 0 rgba(201, 190, 190, 1), 0 1px rgba(255, 255, 255, 0.75), 1px 0 rgba(255, 255, 255, 0.75), 0 -1px rgba(255, 255, 255, 0.75);
}

.container__index {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.section__title {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Metal Mania', cursive;
  font-size: 2.5rem;
  text-align: center;
}

.section__button {
  background: none;
  border: 5px solid #c2281d;
  cursor: pointer;
  height: 250px;
  position: relative;
  width: 250px;
}

.section__emoji {
  font-size: 8rem;
  opacity: 0.5;
}

.section__gif {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.section__button:hover > .section__gif {
  opacity: 0.5;
}

.section__button:hover > .section__emoji {
  opacity: 1;
}

.container__work {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.section__link {
  cursor: pointer;
  text-decoration: none;
}

.section__ride {
  background: rgba(255, 255, 255, 0.75);
  align-items: center;
  color: #c2281d;
  display: flex;
  font-family: 'Metal Mania', cursive;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.container__ride {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.section__gif-ride {
  height: 400px;
  opacity: 1;
}

footer {
  padding-top: 3rem;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.back__link {
  text-decoration: none;
}

.back__button {
  background: rgba(255, 255, 255, 0.75);
  border: 4px solid #c2281d;
  color: #c2281d;
  cursor: pointer;
  font-family: 'New Rocker', cursive;
  font-size: 1rem;
  padding: 1rem 2rem;
}
